// START:: VARIABLES
@import 'variables.scss';
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// START:: GLOBA AR STYLES
h2,
h3 {
  &::before {
    right: -45px;
  }
}
// START:: GLOBA AR STYLES

// START:: UPPER BAR AR STYLES
.upper_bar {
  .upper_bar_element {
    // START:: LANGUAGE BTN STYLE
    .lang-button {
      button {
        span {
          &:nth-child(1) {
            color: $midGreen !important;
            border: 1px solid $midBlue;
            background: transparent !important;
          }
          &:nth-child(2) {
            color: $white !important;
            background: $midGreen;
            background: -webkit-linear-gradient(to right, $midGreen, $midBlue);
            background: linear-gradient(to right, $midGreen, $midBlue);
          }
        }
      }
    }
    // END:: LANGUAGE BTN STYLE
  }
}
// END:: UPPER BAR AR STYLES

// START:: RELATED ARTICLES AR STYLES
.related_articles  {
  .owl-carousel {
    .item {
      .card {
        .card-body {
          h4 {
            text-align: start;
          }
          h6 {
            text-align: end;
          }
          p {
            text-align: start;
          }
          .btn_box {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
// END:: RELATED ARTICLES AR STYLES