// START:: VARIABLES
@import 'variables.scss';
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// START:: GLOBAL STYLES
body {
  font-family: 'Noto Serif JP', serif;
  overflow-x: hidden;
  height: 10000px;
  &::-webkit-scrollbar {
    background-color: $lighterGrey;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $deepBlue;
  }
}

// START:: FLEX SLIDER GLOBAL STYLES
.flexslider {
  .flex-viewport {
    max-height: 400px !important;
    .slides {
      img,
      iframe {
        border-radius: $borderRadiusAmount;
        min-height: 400px;
        max-height: 400px;
        width: 100%
      }
    } 
  }

  .flex-control-thumbs {
    max-height: 120px !important;
    li {
      padding: 0 5px;
      img {
        height: 120px !important;
        border-radius: $borderRadiusAmount;
      }
    }
  }

  .flex-direction-nav {
    display: none !important;
  }
}
// END:: FLEX SLIDER GLOBAL STYLES

.header_img_wraper {
  position: relative;
  min-height: 250px;
  max-height: 250px;
  img {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }
  .section_svg {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .section_svg svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }

  .section_svg .shape-fill {
    fill: #FFFFFF;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .section_svg svg {
      width: calc(133% + 1.3px);
      height: 41px;
    }
  }

/** For mobile devices **/
  @media (max-width: 767px) {
    .section_svg svg {
      width: calc(199% + 1.3px);
      height: 52px;
    }
  }
}
// END:: GLOBAL STYLES

// START:: UPPER BARSTYLES
.upper_bar {
  padding: 10px 0;
  border-bottom: 2px solid $midBlue;
  .container-fluid {
    @include flexCenterAlignment();
    justify-content: space-between;
    flex-wrap: wrap;
    .upper_bar_element {
      // START:: LANGUAGE BTN STYLE
      .lang-button {
        button {
          background-color: transparent;
          border: none;
          padding: 0;
          font-weight: bold;
          span {
            font-size: 16px;
            padding: 3px 10px;
            &:nth-child(1) {
              color: $white;
              background: $midGreen;
              background: -webkit-linear-gradient(to right, $midGreen, $midBlue);
              background: linear-gradient(to right, $midGreen, $midBlue);
              border: 1px solid $midBlue;
              border-right: none;
              border-radius: 30px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            &:nth-child(2) {
              color: $midGreen;
              border: 1px solid $midBlue;
              border-left: none;
              border-radius: 30px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
      // END:: LANGUAGE BTN STYLE

      // START:: UPPER BAR LOGO STYLE
      .site-logo {
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      // END:: UPPER BAR LOGO STYLE

      // START:: UPPER BAR SOCIAL LINKS STYLES
      .social_links {
        margin: 0;
        @include flexCenterAlignment();
        li {
          margin: 0 5px;
          a {
            text-decoration: none;
            color: $midBlue;
            &:hover {
              color: $midGreen;
            }
            &.mobile{
              padding: 5px 8px;
              border-radius: $largeBorderRadiusAmount;
              color: $white;
              background: $midGreen;
              background: -webkit-linear-gradient(to right, $midGreen, $midBlue);
              background: linear-gradient(to right, $midGreen, $midBlue);
            }
          }
        }
      }
      // END:: UPPER BAR SOCIAL LINKS STYLES
    }

    @media( max-width: 767px ) {
      .upper_bar_element {
        &:nth-of-type(3) {
          width: 100%;
          margin-top: 15px;
        }
      }
    }
  }
}
// END:: UPPER BARSTYLES

// START:: LARGE SCREENS NAVBAR STYLES
nav {
  padding: 15px 10px;
  border-bottom: 2px solid $midBlue;

  // START:: NAV LINKS STYLE
  .nav-links {
    ul {
      li {
        @include menuHoverEffect();
      }
    }
  }
  // END:: NAV LINKS STYLE


  // START:: MENU TOGGLER BTN STYLE
  .menu_btn {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 25px;
    svg {
      color: $midGreen;
    }
  }
  // END:: MENU TOGGLER BTN STYLE
}
// END:: LARGE SCREENS NAVBAR STYLES

// START:: SMALL SCREENS MENU STYLES
.small_menu {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  z-index: 999;
  background-color: $white;
  transition: all 0.6s ease-in-out;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: $paddingAmount;
  .btn_box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      border: none;
      background-color: transparent;
      font-size: 30px;
      svg {
        color: $deepBlue;
        &:hover {
          color: $midRed;
        }
      }
    }
  }

  ul {
    @include flexCenterAlignment();
    align-items: flex-start;
    flex-direction: column;
    li {
      @include menuHoverEffect();
      font-size: 18px !important;
      margin: 5px 0 !important;
    }
  }
}
// END:: SMALL SCREENS MENU STYLES

// START:: MENUS MEDIA
@media ( max-width: 1242px ) {
  nav {
    .nav-links {
      display: none;
    }
    .menu_btn {
      display: block;
    }
  }
}
// END:: MENUS MEDIA

.intro_wraper {
  // START:: HOME SLIDER STYLES
  .carousel {
    .carousel-inner {
      max-height: 250px;
      img {
        width: 100%;
        min-height: 250px;
        max-height: 250px;
      }
    }
  }
  // END:: HOME SLIDER STYLES

  // START:: INTRO MENU STYLES
  .intro_menu {
    background-color: $midBlue;
    padding: 0;
    ul {
      padding: 25px 0;
      li {
        padding: 8px;
        margin-bottom: 8px;
        a {
          padding-inline-start: 20px;
          text-decoration: none;
          color: $white;
        }
        &.active, 
        &:hover {
          background: $midGreen;
          background: -webkit-linear-gradient(to right, $midGreen, transparent);
          background: linear-gradient(to right, $midGreen, transparent);
        }
      }
    }
  }
  // END:: INTRO MENU STYLES

  @media ( max-width: 767px ) {
    .carousel {
      order: 2;
    }

    .intro_menu {
      order: 1;
    }
  }
}

//  START:: BIOGRAPHY SECTION
.about_sec {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;

  .about_wrape {
    .about_img {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: $borderRadiusAmount;
      }
    }

    .about_text {
      padding-inline-end: $paddingAmount;
      h4 {
        color: $midBlue;
        display: flex;
        justify-content: flex-start;
      }
      p {
        text-align: start;
        color: $lightGrey;
        font-size: 18px;
        line-height: 1.6;
      }
      .btn_box {
        display: flex;
        justify-content: flex-end;
        a {
          @include btnHoverEffect();
        }
      }
    }
  }
}
//  END:: BIOGRAPHY SECTION

// START:: WHY SECTION STYLES
.highlights_sec {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .icons_wraper {
    padding-bottom: $paddingAmount;
    div {
      @include flexCenterAlignment();
      justify-content: start;
      img {
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
      }
      h5 {
        color: $deepBlue;
      }
    }
  }
}
// END:: WHY SECTION STYLES

// START:: FAQ SECTION STYLES
.faq {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .accordion {
    .card {
      border-radius: $borderRadiusAmount;
      .card-header {
        background: $midBlue;
        background: -webkit-linear-gradient(to right, $midBlue, $midGreen);
        background: linear-gradient(to right, $midBlue, $midGreen);
        h5 {
          button {
            text-decoration: none;
            color: $white;
            border: none;
            background-color: transparent;
          }
        }
      }
    }
  }
}
// END:: FAQ SECTION STYLES








// START:: LIBERARY SECTION STYLES
.liberary {
  position: relative;
  background: url("../media/books.jpg") no-repeat fixed;
  width: 100%;
  height: 350px;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    @include flexCenterAlignment();
    h3 {
      background-color: rgba(241, 187, 105, 0.7);
      color: $deepBlue;
      font-weight: bolder;
      padding: 15px 25px;
      border-radius: $largeBorderRadiusAmount;
    }
  }
}
// END:: LIBERARY SECTION STYLES

// START:: BOOKS SECTION STYLES
.books_sec {
  padding-top: $paddingAmount;
  .books_panel {
    padding: 20px;
    height: fit-content;
    border-radius: $borderRadiusAmount;
    @include simpleShadow();
    h5 {
      color: $deepBlue;
      text-align: center;
    }
    p {
      text-align: start;
      color: $lightGrey;
    }
    .btn_box {
      @include flexCenterAlignment();
      a {
        overflow: hidden;
        @include btnHoverEffect();
      }
    }
  }

  .book_details {
    .card {
      height: 100%;
      position: relative;
      border: none;
      .card_img_wraper {
        padding: 0 25px;
        img {
          min-height: 280px;
          max-height: 280px;
        }
        .badge {
          position: absolute;
          right: 12px;
          top: 20px;
          background-color: $lightCoffee;
          color: $deepBlue;
          padding: 5px
        }
      }

      .card-body {
        padding-top: 5px;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5 {
          color: $deepBlue;
        }

        ul {
          width: 100%;
          min-height: 95px;
          padding: 0;
          li {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $deepBlue;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              span {
                &:last-child {
                  color: $midRed;
                }
              }
            }
          }
        }

        .btn_box {
          @include flexCenterAlignment();
          z-index: 1;
          a {
            overflow: hidden;
            @include btnHoverEffect();
          }
        }
      }
    }
  }
}
// END:: BOOKS SECTION STYLES

// START:: TESTEMONIAL SECTION STYLES
.testemonials {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      direction: ltr;
      .testemonial_card {
        padding: 20px 0;
        border-radius: $borderRadiusAmount;
        box-shadow: 0 0 25px -5px $lightCoffee inset;
        .row {
          .testemonial_img {
            @include flexCenterAlignment();
            flex-direction: column;
            img {
              min-width: 150px;
              max-width: 150px;
              min-height: 150px;
              max-height: 150px;
              border: 3px solid $lightCoffee;
              border-radius: 50%;
            }
            h5 {
              color: $deepBlue;
              margin-top: 10px;
            }
          }

          .testemonial_body {
            color: $lightGrey;
            text-align: start;
            padding: 20px;
            span {
              margin: 0 10px;
              svg {
                color: $deepBlue;
              }
            }
          }
        }
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        background-color: $deepBlue;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include transitioning();
        &:hover {
          transform: scale(1.1);
        }
      }
      .owl-prev {
        &::before {
          content: "\f0d9";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
      .owl-next {
        &::before {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
    }
  }
}
// END:: TESTEMONIAL SECTION STYLES

// START:: VIDEOS SECTION STYLES
.videos-sec {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .iframe_wraper {
        min-height: 250px;
        max-height: 250px;
        iframe {
          width: 100%;
          min-height: 250px;
          max-height: 250px;
          border-radius: $borderRadiusAmount;
        }
      }
      h5 {
        color: $deepBlue;
        margin-top: 8px;
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        background-color: $deepBlue;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include transitioning();
        &:hover {
          transform: scale(1.1);
        }
      }
      .owl-prev {
        &::before {
          content: "\f0d9";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
      .owl-next {
        &::before {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $deepBlue;
          @include flexCenterAlignment();
        }
      }
    }
  }

  .btn_box {
    margin-top: 15px;
    @include flexCenterAlignment();
    a {
      overflow: hidden;
      @include btnHoverEffect();
    }
  }
}
// END:: VIDEOS SECTION STYLES

// START:: ABOUT PAGE STYLE
.about_dr_desc {
  .about_img {
    height: auto;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: $borderRadiusAmount;
    }
  }

  .about_text {
    @include flexCenterAlignment();
    flex-direction: column;
    h3 {
      width: 100%;
      color: $deepBlue;
      text-align: start;
      border: none !important;
    }
    p {
      color: $lightGrey;
      text-align: start;
    }
    .icon_wpaper {
      @include flexCenterAlignment();
      flex-direction: column;
      img {
        min-width: 120px;
        max-width: 120px;
        min-height: 120px;
        max-height: 120px;
      }
      h6 {
        text-align: center;
        color: $deepBlue;
      }
    }
  }
}
// END:: ABOUT PAGE STYLE

// START:: DR OPERATION SECTION STYLES
.dr_operation {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  a {
    text-decoration: none;
    .operation_img_wraper {
      img {
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        border-radius: $borderRadiusAmount;
      }
      h5 {
        color: $deepBlue;
      }
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: DR OPERATION SECTION STYLES

// START:: OPERATION PAGE STYLES
.operations {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .operation_wraper {
    .operation_img_wraper {
      height: auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: $borderRadiusAmount;
      }
    }

    .operation_text_wraper {
      h4 {
        color: $deepBlue;
        text-align: start;
      }

      p {
        font-size: 18px;
        color: $lightGrey;
        line-height: 1.6;
        text-align: justify;
      }

      .btn_box {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        a {
          @include btnHoverEffect();
        }
      }
    }

    &:nth-child(odd) {
      .operation_img_wraper {
        order: 2;
      }
      .operation_text_wraper {
        order: 1;
      }
    }

    @media (max-width: 767px) {
      &:nth-child(odd) {
        .operation_img_wraper {
          order: 1;
        }
        .operation_text_wraper {
          order: 2;
        }
      }
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: OPERATION PAGE STYLES

// START:: HOW TO SHARE SECTION STYLES
.share {
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .share_img_wraper {
    img {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      border-radius: $borderRadiusAmount;
    }
  }

  .share_info_wraper {
    padding-top: 20px;
    font-size: 20px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: justify;
  }

  .form_wraper {
    padding-top: $paddingAmount;
    padding-bottom: $paddingAmount;
    form {
      .form-group {
        input,
        textarea {
          width: 100%;
          border: 1px solid $deepBlue;
          padding: 30px;
          border-radius: $borderRadiusAmount;
          &:focus {
            outline: none;
          }
        }
        textarea {
          height: 250px;
        }
      }

      .btn_box {
        @include flexCenterAlignment();
        button {
          @include btnHoverEffect();
        }
      }
    }
  }
}
// END:: HOW TO SHARE SECTION STYLES

// START:: ALL BOOKS SECTION STYLES
.all_books {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .filter_wraper {
    padding: 20px 0;
    border-radius: $borderRadiusAmount;
    @include flexCenterAlignment();
    @include simpleShadow();
    flex-direction: column;
    h6 {
      color: $deepBlue;
    }
    .form-group {
      color: $lightGrey;
    }
  }

  .book_details {
    .card {
      height: 100%;
      position: relative;
      border: none;
      .card_img_wraper {
        padding: 0 20px;
        img {
          min-height: 280px;
          max-height: 280px;
        }
        .badge {
          position: absolute;
          right: 12px;
          top: 20px;
          background-color: $lightCoffee;
          color: $deepBlue;
          padding: 5px
        }
      }

      .card-body {
        padding-top: 5px;
        min-height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5 {
          color: $deepBlue;
        }

        ul {
          width: 100%;
          min-height: 95px;
          padding: 0;
          li {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $deepBlue;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              span {
                &:last-child {
                  color: $midRed;
                }
              }
            }
          }
        }

        .btn_box {
          @include flexCenterAlignment();
          z-index: 1;
          a {
            overflow: hidden;
            @include btnHoverEffect();
          }
        }
      }
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    button {
      @include btnHoverEffect();
    }
  }
}
// END:: ALL BOOKS SECTION STYLES

// START:: BOOK DETAILS PAGE STYLES
.book_info {
  padding-top: $paddingAmount;
  .header_wraper {
    display: flex;
    justify-content: start;
    h2 {
      @include mainHeaderStyle();
    }
  }

  .book_text_wraper {
    .tabs_wraper {
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      padding: 8px;
      .nav {
        display: flex;
        justify-content: start;
        margin-bottom: 0 !important;
        .nav-item {
          .nav-link {
            color: $deepBlue;
            &.active {
              background-color: $lightCoffee;
              color: $white;
              border-radius: $largeBorderRadiusAmount;
            }
          }
        }
      }

      .price {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
          color: $deepBlue;
          margin: 0 8px;
          &.old_price {
            color: $lighterGrey;
            text-decoration: line-through;
          }
        }
      }
    }
  }

  .tab-content {
    padding-bottom: 15px;
    min-height: 345px;
    max-height: 345px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      background-color: $lighterGrey;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $deepBlue;
    }
    .tab-pane {
      color:$lightGrey;
      font-size: 18px;
      line-height: 1.6;
    }
  }

  .actions_wraper {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding: 8px;
    a {
      text-decoration: none;
      color: $lightOrange;
      font-size: 18px;
      span {
        color: $deepBlue;
        svg {
          color: $lightGrey;
        }
      }
    }
    button {
      border: none;
      background: transparent;
      color: $midRed;
    }
  }
}
// END:: BOOK DETAILS PAGE STYLES

//  START:: BOOK DEEP DETAILS SECTION STYLES
.deep_details {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .deep_text {
    display: flex;
    flex-direction: column;
    padding: 0 $paddingAmount;
    .header_wraper {
      display: flex;
      h3 {
        display: flex;
        @include mainHeaderStyle();
      }
    }

    p {
      color: $lightGrey;
      font-size: 18px;
      display: flex;
      span {
        font-weight: bold;
        color: $darkGrey;
      }
    }
  }

  .deep_imgs {
    padding: 0 $paddingAmount;
    .header_wraper {
      display: flex;
      h3 {
        @include  mainHeaderStyle();
      }
    }

    .stores_wraper {
      .img_wraper {
        display: inline-block;
        margin: 8px;
        img {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
        }
      }
    }

    @media ( max-width: 767px ) {
      .stores_wraper {
        text-align: center;
        .img_wraper {
          img {
          min-width: 250px;
          max-width: 250px;
          min-height: 250px;
          max-height: 250px;
          }
        }
      }
    }
  }
}
//  END:: BOOK DEEP DETAILS SECTION STYLES

// START:: VIDEOS SECTION STYLES
.related_books {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    position: relative;

    .item {
      .card {
        height: 100%;
        position: relative;
        border: none;
        .card_img_wraper {
          padding: 0 20px;
          img {
            min-height: 300px;
            max-height: 300px;
          }
          .badge {
            position: absolute;
            right: 10px;
            top: 20px;
            background-color: $lightCoffee;
            color: $deepBlue;
            padding: 5px
          }
        }
  
        .card-body {
          padding-top: 5px;
          @include flexCenterAlignment();
          flex-direction: column;
          h5 {
            color: $deepBlue;
          }

          ul {
            width: 100%;
            margin-bottom: 0 !important;
            padding: 0;
            direction: ltr;
            li {
              margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: $deepBlue;
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                span {
                  &:last-child {
                    color: $deepBlue;
                  }
                }
              }
            }
          }
  
          .btn_box {
            @include flexCenterAlignment();
            z-index: 1;
            a {
              overflow: hidden;
              @include btnHoverEffect();
            }
          }
        }
      }
    }

    .owl-nav {
      direction: ltr;
      margin-top: 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      .owl-prev,
      .owl-next {
        position: relative;
        background-color: $lightCoffee;
        color: $white;
        width: 35px;
        height: 35px;
        line-height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include transitioning();
        &:hover {
          transform: scale(1.1);
        }
      }
      .owl-prev {
        &::before {
          content: "\f0d9";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $lightCoffee;
          @include flexCenterAlignment();
        }
      }
      .owl-next {
        &::before {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 0;
          left: 0;  
          width: 100%;
          height: 100%;
          background-color: $lightCoffee;
          @include flexCenterAlignment();
        }
      }
    }
  }

  .btn_box {
    margin-top: 15px;
    @include flexCenterAlignment();
    a {
      overflow: hidden;
      @include btnHoverEffect();
    }
  }
}
// END:: VIDEOS SECTION STYLES

//  START:: BIOGRAPHY SECTION
.biography {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .biography_wrape {
    .biography_img {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius: $borderRadiusAmount;
      }
    }

    .biography_text {
      padding-inline-end: $paddingAmount;
      h4 {
        color: $deepBlue;
        display: flex;
        justify-content: flex-start;
      }
      p {
        text-align: start;
        color: $lightGrey;
        font-size: 18px;
        line-height: 1.6;
      }
      .btn_box {
        display: flex;
        justify-content: flex-end;
        a {
          @include btnHoverEffect();
        }
      }
    }
  }
}
//  END:: BIOGRAPHY SECTION

//  START:: REVIEWS SECTION
.reviews {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .review_wraper {
    padding: 15px;
    border-radius: $borderRadiusAmount;
    @include simpleShadow();
    .review_header {
      display: flex;
      align-items: center;
      img {
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
        border-radius: 50%;
        border: 3px solid $lightGrey;
        margin-inline-end: 10px;
      }

      span {
        svg {
          color: rgb(235, 220, 17);
        }
      }
    }

    .review_body {
      p {
        text-align: start;
        margin-top: 15px;
        color: $lightGrey;
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }

  .btn_box {
    margin-top: 25px;
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
//  END:: REVIEWS SECTION

// START:: CAIRO UNIVERSITY SECTION STYLES
.cairo_university {
  padding-top: 30px;
  padding-bottom: 30px;
  .cairo_university_img_wraper {
    img {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      border-radius: $borderRadiusAmount;
    }
  }

  .cairo_university_info_wraper {
    padding-top: 20px;
    font-size: 20px;
    color: $lightGrey;
    line-height: 1.6;
    text-align: justify;
  }
}
// END:: CAIRO UNIVERSITY SECTION STYLES

// START:: ALL VIDEOS PAGE STYLES
.videos {
  padding-bottom: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .video_wraper {
    iframe {
      width: 100%;
      min-height: 250px;
      max-height: 250px;
      border-radius: $borderRadiusAmount;
    }
    h4 {
      color: $deepBlue;
      text-align: center;
    }
  }

  .btn_box {
    @include flexCenterAlignment();
    a {
      @include btnHoverEffect();
    }
  }
}
// END:: ALL VIDEOS PAGE STYLES

// START:: AUTH PAGE STYLES
.auth_forms_wraper {
  padding-top: $paddingAmount;
  padding-bottom: $paddingAmount;
  border-left: 2px solid $lightCoffee;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  form {
    position: relative;
    margin-top: 15px;
    padding: 0;
    border-radius: $borderRadiusAmount;
    overflow: hidden;
    @include simpleShadow();
    &.login {
      max-height: 350px;
      min-height: 350px;
    }
    &.sign_up {
      max-height: 750px;
      min-height: 750px;
      svg {
        position: relative;
        top: -233px;
        right: -180px;
        z-index: -1;
        &:last-of-type {
          top: -319px;
          left: -200px;
          transform: rotate(30deg);
        }
      }
      p {
        color: $deepBlue;
      }
      ul {
        li {
          display: inline-block;
          margin: 0;
          img {
            min-width: 50px; 
            max-width: 50px; 
            min-height: 50px; 
            max-height: 50px; 
          }
        }
      }
    }
    &.reset {
      max-height: 220px;
      min-height: 220px;
    }
    svg {
      position: relative;
      top: -233px;
      right: -180px;
      z-index: -1;
    }
    .form_overlay {
      padding: 25px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include flexCenterAlignment();
      flex-direction: column;
      .form-group {
        width: 100%;
        input {
          width: 100%;
          background-color: transparent;
          padding: 30px 10px;
          border-radius: $largeBorderRadiusAmount;
          @include simpleShadow();
        }
      }
      .btn_box {
        width: 100%;
        button {
          margin-bottom: 15px;
          width: 100%;
          @include btnHoverEffect();
          padding: 10px 10px;
          @include simpleShadow();
        }
        span {
          color: $deepBlue;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: rgb(49, 94, 146);
          }
        }
      }
    }
  }
}
// END:: AUTH PAGE STYLES

// START:: USER PROFILE PAGE CONTENT SECTION STYLES
.page_content_wraper {
  padding: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    margin-bottom: 10px;
    h2 {
      @include mainHeaderStyle();
    }
  }

  form {
    position: relative;
    margin-top: 15px;
    padding: 0;
    border-radius: $borderRadiusAmount;
    overflow: hidden;
    @include simpleShadow();
    &.login {
      max-height: 350px;
      min-height: 350px;
    }
    &.sign_up {
      max-height: 650px;
      min-height: 650px;
      svg {
        position: relative;
        top: -233px;
        right: -180px;
        z-index: -1;
        &:last-of-type {
          top: -319px;
          left: -200px;
          transform: rotate(30deg);
        }
      }
      p {
        color: $deepBlue;
      }
      ul {
        li {
          display: inline-block;
          margin: 0;
          img {
            min-width: 50px; 
            max-width: 50px; 
            min-height: 50px; 
            max-height: 50px; 
          }
        }
      }
    }
    &.reset {
      max-height: 220px;
      min-height: 220px;
    }
    svg {
      position: relative;
      top: -233px;
      right: -180px;
      z-index: -1;
    }
    .form_overlay {
      padding: 25px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include flexCenterAlignment();
      flex-direction: column;
      .form-group {
        width: 100%;
        input {
          width: 100%;
          background-color: transparent;
          padding: 30px 10px;
          border-radius: $largeBorderRadiusAmount;
          @include simpleShadow();
        }
      }
      .btn_box {
        width: 100%;
        button {
          margin-bottom: 15px;
          width: 100%;
          @include btnHoverEffect();
          padding: 10px 10px;
          @include simpleShadow();
        }
        span {
          color: $deepBlue;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: rgb(49, 94, 146);
          }
        }
      }
    }
  }

  table {
    td {
      button {
        color: $midRed;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .caption_wraer {
    h5 {
      margin-top: 8px;
      text-align: center;
      color: $lightGrey;
      font-weight: 400;
      span {
        color: $deepBlue;
      }
    }
  }
}
// END:: USER PROFILE PAGE CONTENT SECTION STYLES

// START:: USER PROFILE MENU SECTION STYLES
.user_profile_menu {
  padding: $paddingAmount;
  padding-inline-end: 0;
  border-left: 2px solid $lightCoffee;
  background-color: #ffe71f14;
  height: 100%;
  min-height: 80vh;
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    li {
      @include menuHoverEffect();
      margin: 8px 0;
      color: $lightGrey;
      &.active,
      &:hover {
        svg {
          color: $lightCoffee;
        }
      }
      button {
        color: $lightGrey;
      }
    }
  }
}

@media ( max-width: 767px) {
  .page_content_wraper {
    order: 2;
  }

  .user_menu_wraper {
    order: 1;
    .user_profile_menu {
      min-height: auto !important;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-inline-start: 0;
      ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        li {
          font-size: 13px;
        }
      }
    }
  }
}
// END:: USER PROFILE MENU SECTION STYLES

// START:: GET IN TOUCH SECTION STYLES
.get_in_touch {
  padding-top: $paddingAmount;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .social {
    img {
      min-width: 70px;
      max-width: 70px;
      min-height: 70px;
      max-height: 70px;
      @include transitioning();
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
// END:: GET IN TOUCH SECTION STYLES

// START:: CONTACT INFO SECTION STYLES
.contact_info {
  .card {
    border: none;
    .card_title {
      svg {
        color: $lightCoffee;
      }
    }
    .card_list {
      li {
        color: $deepBlue;
      }
    }
  }

  .line_wraper {
    padding-top: 75px;
    display: flex;
    align-items: flex-start;
    img {
      width: 100%;
    }
  }

  @media (max-width: 992px) {
    .line_wraper {
      display: none !important;
    }
  }
}
// END:: CONTACT INFO SECTION STYLES

// START:: MAPS SECTION STYLES
.maps {
  .map_info_wraper {
    h3 {
      text-align: start;
      color: $deepBlue;
      border: none !important;
    }

    .iframe_waper {
      iframe {
        width: 100%;
        min-height: 300px;
        max-height: 300px;
      }
    }

    .map_text {
      ul {
        padding: 0;
        li {
          display: flex;
          justify-content: flex-start;
          font-size: 18px;
          margin-bottom: 8px;
          color: $lightGrey;
          span {
            color: $lightCoffee;
            margin-inline-end: 10px;
          }
        }
      }
    }
  }
}
// END:: MAPS SECTION STYLES

// START:: FOOTER STYLES
footer {
  background-color: $darkGrey;

  .footer_logo {
    padding: 15px 0;
    @include flexCenterAlignment();
    img {
      min-width: 100px;
      max-width: 100px;
      min-height: 100px;
      max-height: 100px;
    }
  }

  .short_cuts {
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      color: $white;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -100%;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $midGreen;
        @include transitioning();
      }
      &:hover {
        color: $midGreen;
        &::before {
          left: 0;
        }
      }
    }
  }

  .get_in_touch {
    h5 {
      color: $lighterGrey;
    }
    ul {
      color: $lighterGrey; 
      li {
        margin: 8px 0;
        svg {
          color: $midGreen;
        }
        span {
          a {
            text-decoration: none;
            color: $white
          }
        }
      }
    }
  }

  .follow_us {
    h5 {
      color: $lighterGrey;
    }
    ul {
      text-align: center;
      li {
        display: inline-block;
        margin: 3px 5px;
        @include transitioning();
        a {
          color: $white;
          opacity: 0.5;
        }
        &:hover {
          transform: rotate(360deg) scale(1.2);
          a {
            opacity: 1;
          }
        }
      }
    }

    .payment {
      @include transitioning();
      a {
        text-decoration: none;
        color: $lightCoffee;
      }
      &:hover {
        transform: scale(1.2)
      }
    }
  }

  .copy_rights {
    background-color: #444;
    color: $midBlue;
    span {
      a {
        text-decoration: none;
        color: $midGreen;
        @include transitioning();
        &:hover {
          color: $deepBlue;
        }
      }
    }
  }
}
// END:: FOOTER STYLES