body {
  font-family: 'Noto Serif JP', serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: #c1c1c1;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #00303f;
}

.header_img_wraper {
  position: relative;
  min-height: 300px;
  max-height: 300px;
  /** For tablet devices **/
  /** For mobile devices **/
}

.header_img_wraper img {
  width: 100%;
  min-height: 300px;
  max-height: 300px;
}

.header_img_wraper .section_svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.header_img_wraper .section_svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.header_img_wraper .section_svg .shape-fill {
  fill: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header_img_wraper .section_svg svg {
    width: calc(100% + 1.3px);
    height: 41px;
  }
}

@media (max-width: 767px) {
  .header_img_wraper .section_svg svg {
    width: calc(100% + 1.3px);
    height: 39px;
  }
}

.upper_bar {
  padding: 10px 0;
  border-bottom: 2px solid #085c77;
}

.upper_bar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.upper_bar .container-fluid .upper_bar_element .lang-button button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: bold;
}

.upper_bar .container-fluid .upper_bar_element .lang-button button span {
  font-size: 16px;
  padding: 3px 10px;
}

.upper_bar .container-fluid .upper_bar_element .lang-button button span:nth-child(1) {
  color: #fff;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  border: 1px solid #085c77;
  border-right: none;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.upper_bar .container-fluid .upper_bar_element .lang-button button span:nth-child(2) {
  color: #5d833a;
  border: 1px solid #085c77;
  border-left: none;
  border-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.upper_bar .container-fluid .upper_bar_element .site-logo {
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
}

.upper_bar .container-fluid .upper_bar_element .site-logo img {
  width: 100%;
  height: 100%;
}

.upper_bar .container-fluid .upper_bar_element .social_links {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upper_bar .container-fluid .upper_bar_element .social_links li {
  margin: 0 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.upper_bar .container-fluid .upper_bar_element .social_links li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.upper_bar .container-fluid .upper_bar_element .social_links li:last-child:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.upper_bar .container-fluid .upper_bar_element .social_links li a {
  text-decoration: none;
  color: #085c77;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.upper_bar .container-fluid .upper_bar_element .social_links li a:hover {
  color: #5d833a;
}

.upper_bar .container-fluid .upper_bar_element .social_links li a.mobile {
  padding: 5px 8px;
  border-radius: 30px;
  color: #fff;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
}

@media (max-width: 767px) {
  .upper_bar .container-fluid .upper_bar_element:nth-of-type(3) {
    width: 100%;
    margin-top: 15px;
  }
}

nav {
  padding: 15px 10px;
  border-bottom: 2px solid #085c77;
}

nav .nav-links ul li {
  overflow: hidden;
  margin: 0 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 15px;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: #085c77;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links ul li.active a {
  color: #5d833a;
  font-weight: bold;
}

nav .nav-links ul li.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #5d833a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links ul li::before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #5d833a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links ul li:hover a {
  color: #5d833a;
}

nav .nav-links ul li:hover::before {
  left: 0;
}

nav .menu_btn {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 25px;
}

nav .menu_btn svg {
  color: #5d833a;
}

.small_menu {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100vh;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.small_menu .btn_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.small_menu .btn_box button {
  border: none;
  background-color: transparent;
  font-size: 30px;
}

.small_menu .btn_box button svg {
  color: #00303f;
}

.small_menu .btn_box button svg:hover {
  color: #bb0808;
}

.small_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.small_menu ul li {
  overflow: hidden;
  margin: 0 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 15px;
  font-size: 18px !important;
  margin: 5px 0 !important;
}

.small_menu ul li a {
  text-decoration: none;
  color: #085c77;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.small_menu ul li.active a {
  color: #5d833a;
  font-weight: bold;
}

.small_menu ul li.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #5d833a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.small_menu ul li::before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #5d833a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.small_menu ul li:hover a {
  color: #5d833a;
}

.small_menu ul li:hover::before {
  left: 0;
}

@media (max-width: 1242px) {
  nav .nav-links {
    display: none;
  }
  nav .menu_btn {
    display: block;
  }
}

.intro_wraper .carousel .carousel-inner {
  max-height: 250px;
}

.intro_wraper .carousel .carousel-inner img {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
}

.intro_wraper .intro_menu {
  background-color: #085c77;
  padding: 0;
}

.intro_wraper .intro_menu ul {
  padding: 25px 0;
}

.intro_wraper .intro_menu ul li {
  padding: 8px;
  margin-bottom: 8px;
}

.intro_wraper .intro_menu ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
}

.intro_wraper .intro_menu ul li.active, .intro_wraper .intro_menu ul li:hover {
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(transparent));
  background: linear-gradient(to right, #5d833a, transparent);
}

@media (max-width: 767px) {
  .intro_wraper .carousel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .intro_wraper .intro_menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about_sec {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about_sec .header_wraper {
  -webkit-padding-start: 45px;
          padding-inline-start: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_sec .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.about_sec .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.about_sec .about_wrape .about_img {
  height: 100%;
}

.about_sec .about_wrape .about_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about_sec .about_wrape .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about_sec .about_wrape .header_wraper h3 {
  color: #085c77;
  position: relative;
}

.about_sec .about_wrape .header_wraper h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.about_sec .about_wrape .about_text {
  -webkit-padding-end: 30px;
          padding-inline-end: 30px;
}

.about_sec .about_wrape .about_text h4 {
  color: #085c77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about_sec .about_wrape .about_text p {
  text-align: start;
  color: #666;
  font-size: 18px;
  line-height: 1.6;
}

.about_sec .about_wrape .about_text .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about_sec .about_wrape .about_text .btn_box a {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.about_sec .about_wrape .about_text .btn_box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about_sec .about_wrape .about_text .btn_box a:hover {
  color: #fff;
}

.about_sec .about_wrape .about_text .btn_box a:hover::before {
  top: 0;
}

.highlights_sec {
  padding-top: 30px;
}

.highlights_sec .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.highlights_sec .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.highlights_sec .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.highlights_sec .icons_wraper {
  padding-bottom: 30px;
}

.highlights_sec .icons_wraper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.highlights_sec .icons_wraper div img {
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}

.highlights_sec .icons_wraper div h5 {
  color: #00303f;
}

.faq {
  padding-top: 30px;
}

.faq .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.faq .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.faq .accordion .card {
  border-radius: 10px;
}

.faq .accordion .card .card-header {
  background: #085c77;
  background: -webkit-gradient(linear, left top, right top, from(#085c77), to(#5d833a));
  background: linear-gradient(to right, #085c77, #5d833a);
}

.faq .accordion .card .card-header h5 button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: transparent;
}

.faq .accordion .card .card-header h5 button svg {
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
}

.faq .accordion .card .card-body {
  min-height: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.faq .accordion .card .card-body::-webkit-scrollbar {
  background-color: #c1c1c1;
  width: 5px;
}

.faq .accordion .card .card-body::-webkit-scrollbar-thumb {
  background-color: #085c77;
}

.faq .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .btn_box a {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.faq .btn_box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.faq .btn_box a:hover {
  color: #fff;
}

.faq .btn_box a:hover::before {
  top: 0;
}

.why_sec {
  padding-bottom: 30px;
}

.why_sec .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why_sec .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.why_sec .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.why_sec .icons_wraper {
  padding: 30px;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
}

.why_sec .icons_wraper div img {
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}

.why_sec .icons_wraper div h5 {
  color: #fff;
}

.operation_states {
  padding-top: 30px;
  padding-bottom: 30px;
}

.operation_states .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.operation_states .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.operation_states .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.operation_states .operation_wraper .operation_img_wraper {
  height: auto;
}

.operation_states .operation_wraper .operation_img_wraper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.operation_states .operation_wraper .operation_text_wraper h4 {
  color: #085c77;
  text-align: start;
}

.operation_states .operation_wraper .operation_text_wraper p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  text-align: justify;
}

.operation_states .operation_wraper .operation_text_wraper .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.operation_states .operation_wraper .operation_text_wraper .btn_box a {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.operation_states .operation_wraper .operation_text_wraper .btn_box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.operation_states .operation_wraper .operation_text_wraper .btn_box a:hover {
  color: #fff;
}

.operation_states .operation_wraper .operation_text_wraper .btn_box a:hover::before {
  top: 0;
}

.operation_states .operation_wraper:nth-child(even) .operation_img_wraper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.operation_states .operation_wraper:nth-child(even) .operation_text_wraper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 767px) {
  .operation_states .operation_wraper:nth-child(even) .operation_img_wraper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .operation_states .operation_wraper:nth-child(even) .operation_text_wraper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.operation_states .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.operation_states .btn_box a {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.operation_states .btn_box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.operation_states .btn_box a:hover {
  color: #fff;
}

.operation_states .btn_box a:hover::before {
  top: 0;
}

.all_news {
  padding: 30px 0;
}

.all_news .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all_news .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.all_news .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.all_news .card {
  background-color: transparent;
  -webkit-box-shadow: 0 0 10px 1px #888;
          box-shadow: 0 0 10px 1px #888;
}

.all_news .card img {
  min-height: 250px;
  max-height: 250px;
}

.all_news .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  max-height: 300px;
}

.all_news .card .card-body h4 {
  color: #085c77;
  text-align: start;
}

.all_news .card .card-body h6 {
  color: #085c77;
  text-align: end;
}

.all_news .card .card-body p {
  color: #666;
  text-align: start;
  line-height: 1.7;
}

.all_news .card .card-body .btn_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.all_news .card .card-body .btn_box a {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.all_news .card .card-body .btn_box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.all_news .card .card-body .btn_box a:hover {
  color: #fff;
}

.all_news .card .card-body .btn_box a:hover::before {
  top: 0;
}

.all_news nav {
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all_news nav ul li a {
  padding: 10px 20px;
  color: #fff;
  background-color: #085c77;
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.all_news nav ul li a:hover {
  background-color: #5d833a !important;
  color: #fff;
}

.all_news nav ul li.active a {
  background-color: #5d833a !important;
}

.videos {
  padding-bottom: 30px;
}

.videos .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videos .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.videos .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.videos .video_wraper iframe {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  border-radius: 10px;
}

.videos .video_wraper h4 {
  color: #00303f;
  text-align: center;
}

.videos .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videos .btn_box a {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.videos .btn_box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.videos .btn_box a:hover {
  color: #fff;
}

.videos .btn_box a:hover::before {
  top: 0;
}

.get_in_touch {
  padding-top: 30px;
}

.get_in_touch .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get_in_touch .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.get_in_touch .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.get_in_touch .social img {
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.get_in_touch .social img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contact_info {
  padding: 30px 0;
}

.contact_info .contact_card {
  padding: 15px;
  text-align: center;
  border: none;
  -webkit-box-shadow: 0 0 10px 0 #085c77;
          box-shadow: 0 0 10px 0 #085c77;
  border-radius: 10px;
  color: #666;
}

.contact_info .contact_card h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_info .contact_card h2 svg {
  margin-bottom: 15px;
  color: #5d833a;
}

.send_message {
  padding: 30px 0;
}

.send_message .form_wraper .header_wraper {
  -webkit-padding-start: 50px;
          padding-inline-start: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.send_message .form_wraper .header_wraper h3 {
  color: #085c77;
  position: relative;
}

.send_message .form_wraper .header_wraper h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.send_message .form_wraper .form-group input,
.send_message .form_wraper .form-group textarea {
  padding: 30px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 12px -1px #5d833a;
          box-shadow: 0 0 12px -1px #5d833a;
  width: 100%;
}

.send_message .form_wraper .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send_message .form_wraper .btn_box button {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.send_message .form_wraper .btn_box button::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.send_message .form_wraper .btn_box button:hover {
  color: #fff;
}

.send_message .form_wraper .btn_box button:hover::before {
  top: 0;
}

.send_message .map_wraper {
  height: 100%;
}

.send_message .map_wraper iframe {
  width: 100%;
  height: 100%;
  min-height: 380px;
  border-radius: 10px;
}

.article_info {
  padding: 30px 0;
}

.article_info .article_text h1 {
  text-align: start;
  color: #085c77;
  padding-bottom: 8px;
  border-bottom: 1px solid #5d833a;
}

.article_info .article_text h5 {
  text-align: end;
  color: #085c77;
  margin: 15px 0;
}

.article_info .article_text p {
  text-align: start;
  font-size: 18px;
  line-height: 1.7;
  color: #666;
}

.article_info .article_img {
  height: 100%;
}

.article_info .article_img img {
  width: 100%;
  height: 100%;
  min-height: 430px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .article_info .row div:nth-child(1) {
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.related_articles {
  padding: 30px 0;
}

.related_articles .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.related_articles .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.related_articles .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.related_articles .owl-carousel {
  position: relative;
}

.related_articles .owl-carousel .item .card {
  background-color: transparent;
}

.related_articles .owl-carousel .item .card img {
  min-height: 250px;
  max-height: 250px;
}

.related_articles .owl-carousel .item .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  max-height: 300px;
}

.related_articles .owl-carousel .item .card .card-body h4 {
  color: #085c77;
  text-align: end;
}

.related_articles .owl-carousel .item .card .card-body h6 {
  color: #085c77;
  text-align: start;
}

.related_articles .owl-carousel .item .card .card-body p {
  color: #666;
  text-align: end;
  line-height: 1.7;
}

.related_articles .owl-carousel .item .card .card-body .btn_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.related_articles .owl-carousel .item .card .card-body .btn_box a {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.related_articles .owl-carousel .item .card .card-body .btn_box a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.related_articles .owl-carousel .item .card .card-body .btn_box a:hover {
  color: #fff;
}

.related_articles .owl-carousel .item .card .card-body .btn_box a:hover::before {
  top: 0;
}

.related_articles .owl-carousel .owl-nav {
  direction: ltr;
  margin-top: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 105%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.related_articles .owl-carousel .owl-nav .owl-prev,
.related_articles .owl-carousel .owl-nav .owl-next {
  position: relative;
  background-color: #085c77;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 25px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.related_articles .owl-carousel .owl-nav .owl-prev:hover,
.related_articles .owl-carousel .owl-nav .owl-next:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.related_articles .owl-carousel .owl-nav .owl-prev::before {
  content: "\f0d9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #085c77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.related_articles .owl-carousel .owl-nav .owl-next::before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #085c77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .related_articles .owl-carousel .owl-nav {
    left: 0;
    top: 45%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.contact_form {
  padding: 30px 0;
}

.contact_form .map_wraper {
  height: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-box-shadow: 0px 0px 30px -2px #5d833a;
          box-shadow: 0px 0px 30px -2px #5d833a;
}

.contact_form .map_wraper iframe {
  width: 100%;
  height: 100%;
  min-height: 515px;
  border-radius: 10px 0 0 10px;
}

.contact_form .form_wraper {
  min-height: 520px;
  padding: 25px;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 0px 0px 30px -5px #085c77;
          box-shadow: 0px 0px 30px -5px #085c77;
}

.contact_form .form_wraper .header_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_form .form_wraper .header_wraper h2 {
  color: #085c77;
  position: relative;
}

.contact_form .form_wraper .header_wraper h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #5d833a;
}

.contact_form .form_wraper .form-group {
  border: 1px solid #c1c1c1;
  border-radius: 30px;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_form .form_wraper .form-group input {
  border: none;
}

.contact_form .form_wraper .form-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact_form .form_wraper .form-group span svg {
  color: #085c77;
}

.contact_form .form_wraper .form-group textarea {
  border: none;
  width: 100%;
  height: 250px;
}

.contact_form .form_wraper .form-group textarea:focus {
  outline: none;
}

.contact_form .form_wraper .btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_form .form_wraper .btn_box button {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid #5d833a;
  background-color: transparent;
  color: #5d833a;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;
}

.contact_form .form_wraper .btn_box button::before {
  content: "";
  position: absolute;
  left: 0;
  top: -100%;
  display: block;
  width: 100%;
  height: 100%;
  background: #5d833a;
  background: -webkit-gradient(linear, left top, right top, from(#5d833a), to(#085c77));
  background: linear-gradient(to right, #5d833a, #085c77);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact_form .form_wraper .btn_box button:hover {
  color: #fff;
}

.contact_form .form_wraper .btn_box button:hover::before {
  top: 0;
}

@media (max-width: 767px) {
  .contact_form .map_wraper {
    border-radius: 0;
  }
  .contact_form .map_wraper iframe {
    border-radius: 0;
  }
  .contact_form .form_wraper {
    border-radius: 0;
  }
}

footer {
  background-color: #212121;
}

footer .footer_logo {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer_logo img {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
}

footer .short_cuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .short_cuts a {
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  position: relative;
}

footer .short_cuts a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #5d833a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .short_cuts a:hover {
  color: #5d833a;
}

footer .short_cuts a:hover::before {
  left: 0;
}

footer .get_in_touch h5 {
  color: #c1c1c1;
}

footer .get_in_touch ul {
  color: #c1c1c1;
}

footer .get_in_touch ul li {
  margin: 8px 0;
}

footer .get_in_touch ul li svg {
  color: #5d833a;
}

footer .get_in_touch ul li span a {
  text-decoration: none;
  color: #fff;
}

footer .follow_us h5 {
  color: #c1c1c1;
}

footer .follow_us ul {
  text-align: center;
}

footer .follow_us ul li {
  display: inline-block;
  margin: 3px 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .follow_us ul li a {
  color: #fff;
  opacity: 0.5;
}

footer .follow_us ul li:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

footer .follow_us ul li:hover a {
  opacity: 1;
}

footer .follow_us .payment {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .follow_us .payment a {
  text-decoration: none;
  color: #d0af85;
}

footer .follow_us .payment:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .copy_rights {
  background-color: #444;
  color: #085c77;
}

footer .copy_rights span a {
  text-decoration: none;
  color: #5d833a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer .copy_rights span a:hover {
  color: #00303f;
}
/*# sourceMappingURL=style.css.map */